[Desktop Entry]
Version=0.0.1
Name=Xournal++ Mobile
GenericName=Notebook
Comment=Infinitely take notes, sketch and learn
Terminal=false
Type=Application
Categories=Office;GNOME;GTK;
Keywords=Tablet;Wacom;Pen Input;PDF Annotation;Markup;
Icon=xournalpp-mobile
